@import "tailwindcss";

@theme inline {
  --font-pop: var(--font-poppins);
  --font-in: var(--font-inter);
}

body {
  font-family: var(--font-pop);
}
/* Default dot */
.room-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d8d8d8;   /* light gray */
  opacity: 1;
  margin: 0 6px !important;
  border-radius: 50%;
  position: relative;
}

/* Active dot */
.room-pagination .swiper-pagination-bullet-active {
  background: #b88e2f;   /* gold */
}

/* Outer ring for active dot */
.room-pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 24px;
  height: 24px;
  border: 2px solid #b88e2f;
  border-radius: 50%;
}
.room-swiper .swiper-slide {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}

.room-swiper .swiper-slide-active {
  transform: scale(1);
}
